{% extends 'base.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}

<h1 class="display-1 text-center">Pets</h1>

<div class="mt-4 row pets-listing">

    {% for pet in pets %}
    <div class="col-3">
        <img class="img-thumbnail" src="{{pet.photo_url}}" alt="{{pet.name}}">
        <a href="/{{pet.id}}">{{pet.name}}</a>
        {% if pet.available %} <b>is available!</b> {% endif %}
    </div>
    {% else %}
    <div class="col-12">No pets yet.</div>
    {% endfor %}
</div>

<a class="mt-4 btn btn-primary1" href="/add">Add a Pet!</a>

{% endblock %}